# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

root = true

[*]
# Change these settings to your own preference
indent_size = 2
trim_trailing_whitespace = true
indent_style = space

# We recommend you to keep these unchanged
end_of_line = lf
charset = utf-8
insert_final_newline = true

# Docstrings and comments use max_line_length = 79
[*.py]
indent_size = 4
continuation_indent_size = 4
max_line_length = 119
; max_line_length = 79
spaces_around_operators = true
block_comment = #
line_comment = #
block_comment_start = """
block_comment_end = """

# Latex files
[*.tex]
block_comment = %
line_comment = %

# Shell files
[*.{sh,bash}]
spaces_around_operators = false
insert_final_newline = false

# Vimscript files
[*.vim]
max_line_length = 78

# The JSON files contain newlines inconsistently
[*.{json,yml,yaml}]
insert_final_newline = ignore

# Makefiles always use tabs for indentation
[Makefile]
indent_style = tab
indent_size = 4

# CSS
[*.css]
tab_width = 2
max_line_length = 100

# HTML
[*.html]
tab_width = 2

# Batch files use tabs for indentation
[*.bat]
indent_style = tab

[docs/**.txt]
max_line_length = 79

[*.{md,markdown,pdf}]
trim_trailing_whitespace = false

[*.snippets]
indent_style = tab
indent_size = 8
tab_width = 8
